<!DOCTYPE html>
<!-- Designed by CodingLab -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Drop Down Sidebar Menu</title>
  <link rel="stylesheet" href="style.css">
  <!-- BoxIcons CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="sidebar">
      <div class="logo-details">
          <i class='bx bxl-c-plus-plus'></i>
          <span class="logo_name">ArtistMaker</span>
      </div>
  </div>
</body>
</html>